* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.parent-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.section {
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.photomembre {
  text-align: center;
}

.photomembre img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.infomembre {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

.small-button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.small-button:hover {
  background-color: #d81919;
}

.small-button:active {
  background-color: #8b0000;
}
